.DS_Store
.DS_Store?
._*
.Trashes
.idea
.vscode
.github
.data
Thumbs.db


# UMI.CMS
public_html/classes/components/exchange/logs
public_html/files/
public_html/sys-temp/*
!public_html/sys-temp/1c_import/
public_html/images/
public_html/errors/